@font-face {
  font-family: 'Poppins-Bold', sans-serif;
  src: url('../fonts/Poppins-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {  font-family: 'Poppins-SemiBold', sans-serif;
  src: url('../fonts/Poppins-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'Poppins-Medium', sans-serif;
  src: url('../fonts/Poppins-Bold.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Regular', sans-serif;
  src: url('../fonts/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CormorantGaramond-Bold', sans-serif;
  src: url('../fonts/CormorantGaramond-Bold.ttf') format('ttf');
  font-weight: 700;

}
@font-face {
    font-family: 'CormorantGaramond-SemiBold', sans-serif;
    src: url('../fonts/CormorantGaramond-SemiBold.ttf') format('ttf');
    font-weight: 600;

}
@font-face {
  font-family: 'CormorantGaramond-Medium', sans-serif;
  src: url('../fonts/CormorantGaramond-Medium.ttf') format('ttf');
  font-weight: 500;

}
@font-face {
  font-family: 'CormorantGaramond-Light', sans-serif;
  src: url('../fonts/CormorantGaramond-Light.ttf') format('ttf');
  font-weight: 300;

}
